<form [formGroup]="fg" (ngSubmit)="onSub()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" aria-describedby="emailHelp">
        <div class="form-text text-danger" *ngIf="emailControl()?.invalid">Email Required</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control">
        <div class="form-text text-danger" *ngIf="passwordControl()?.invalid">Password Required</div>
    </div>
    <div class="mb-3 form-check">
        <input formControlName="chk" type="checkbox" class="form-check-input">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="fg.invalid">Submit</button>
</form>