<div class="card">
    <div class="card-body">
        <input type="text">
        <input type="button" class="btn btn-secondary" value="search">
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Invoice #</th>
            <th scope="col">Date</th>
            <th scope="col">Client</th>
            <th scope="col">Amount</th>
            <th scope="col">Tax</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let invoice of invoices;let ind = index;">
            <td *ngIf="invoice.invNo !=null">{{ind}}</td>
            <td *ngIf="invoice.invNo != null">{{invoice?.invNo}}</td>
            <td *ngIf="invoice.date != null">{{invoice?.date}}</td>
            <td *ngIf="invoice.client != null">{{invoice?.client}}</td>
            <td *ngIf="invoice.invAmt != null"
                [ngClass]="{'text-success' : invoice.invAmt >= 100, 'text-danger' : invoice.invAmt < 100 }">
                {{invoice?.invAmt}}
            </td>
            <td *ngIf="invoice.taxAmt != null">{{invoice?.taxAmt}}</td>
            <td *ngIf="invoice.taxAmt != null && invoice.invAmt != null">{{invoice.taxAmt + invoice.invAmt}}</td>
        </tr>
        <tr>
            <td colspan="4" class="text-end"><strong>Total</strong></td>
            <td><strong>{{totalInvAmt}}</strong></td>
            <td><strong>{{totalTaxAmt}}</strong></td>
            <td><strong>{{totalTaxAmt + totalInvAmt}}</strong></td>
        </tr>
    </tbody>
</table>