<div class="container">
  <!-- <div class="row">
    <div class="col">
      <input type="button" value="Okay" class="btn btn-primary">
    </div>
    <div class="col">
      <div class="col">
        <input type="button" value="Okay" class="btn btn-danger">
      </div>
    </div>
    <div class="col">
      <div class="col">
        <input type="button" value="Okay" class="btn btn-danger">
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div cl="col">
      <app-fancy-div></app-fancy-div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-data-binding></app-data-binding>
    </div>
  </div> -->

  <!-- <div class="row mt-2">
    <div class="col">
      <app-directives></app-directives>
    </div>
  </div> -->

  <div class="row">
    <div class="col">
      <!-- <app-data-table></app-data-table> -->
      <!-- <div class="border mt-3 p-3">
        <app-fancy-div></app-fancy-div>
      </div>
      <div class="border mt-3 p-3">
        <app-service></app-service>
      </div> -->
      <!-- <app-pipes></app-pipes> -->

      <app-ip [clr]="cl"></app-ip>

      <app-op (clk)="clkEv($event)"></app-op>
    </div>
  </div>
</div>